.center {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 50% !important;
}

.image-test {
    width: 50% !important;
}

nav{
    background-color: #eff0ef !important;
}

