
.s002 {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-family: "Asap", sans-serif;
  background: url("../images/Searchs_002.jpg");
  background-size: cover;
  background-position: center center;
  padding: 15px;
}

.s002 form {
  width: 100%;
  max-width: 1190px;
}

.s002 form legend {
  font-size: 60px;
  line-height: 1;
  color: #f7f7f7;
  margin-bottom: 60px;
  font-weight: 400;
  text-align: center;
}

.s002 form .inner-form {
    background: rgba(0, 0, 0, 0.5);
    padding: 8px;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border-radius: 5px;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.s002 form .inner-form .input-field {
    position: relative;
    border-right: 1px solid #CED0CE;
}

.s002 form .inner-form .input-field .icon-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: center;
      align-items: center;
  z-index: 1;
}

.s002 form .inner-form .input-field .icon-wrap svg {
  fill: #555;
  width: 14px;
  height: 14px;
}

.s002 form .inner-form .input-field input {
  height: 70px;
  background: #f7f7f7;
  border-radius: 0;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 20px 10px 45px;
  font-size: 16px;
  color: #555;
  font-weight: 400;
  font-family: "Asap", sans-serif;
}

.s002 form .inner-form .input-field input.placeholder {
  color: #565a5c;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.s002 form .inner-form .input-field input:-moz-placeholder {
  color: #565a5c;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.s002 form .inner-form .input-field input::-webkit-input-placeholder {
  color: #565a5c;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.s002 form .inner-form .input-field input:hover, .s002 form .inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
}

.s002 form .inner-form .input-field.first-wrap {
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.s002 form .inner-form .input-field.second-wrap {
  min-width: 190px;
  max-width: 190px;
}

.s002 form .inner-form .input-field.third-wrap {
  min-width: 190px;
  max-width: 190px;
}

.s002 form .inner-form .input-field.fouth-wrap {
  min-width: 190px;
  max-width: 190px;
  border-right: 0;
}

.s002 form .inner-form .input-field.third-wrap .choices__inner, .s002 form .inner-form .input-field.fouth-wrap .choices__inner {
  background: #f7f7f7;
  border-radius: 0;
  border: 0;
  height: 70px;
  color: #565a5c;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 10px 32px 10px 45px;
  border-radius: 0;
}

.s002 form .inner-form .input-field.third-wrap .choices__inner .choices__list.choices__list--single, .s002 form .inner-form .input-field.fouth-wrap .choices__inner .choices__list.choices__list--single {
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
  font-size: 16px;
}

.s002 form .inner-form .input-field.third-wrap .choices__inner .choices__item.choices__item--selectable.choices__placeholder, .s002 form .inner-form .input-field.fouth-wrap .choices__inner .choices__item.choices__item--selectable.choices__placeholder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
  opacity: 1;
  color: #9a9a9a;
  text-transform: uppercase;
}

.s002 form .inner-form .input-field.third-wrap .choices__inner .choices__list--single .choices__item, .s002 form .inner-form .input-field.fouth-wrap .choices__inner .choices__list--single .choices__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    color: #565A5C;
}

.s002 form .inner-form .input-field.third-wrap .choices[data-type*="select-one"]:after , .s002 form .inner-form .input-field.fouth-wrap .choices[data-type*="select-one"]:after {
  right: 30px;
  border-color: #e5e5e5 transparent transparent transparent;
}

.s002 form .inner-form .input-field.third-wrap .choices__list.choices__list--dropdown, .s002 form .inner-form .input-field.fouth-wrap .choices__list.choices__list--dropdown {
  border: 0;
  background: #f7f7f7;
  padding: 10px 15px;
  border-radius: 0;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.s002 form .inner-form .input-field.third-wrap .choices__list.choices__list--dropdown .choices__item--selectable, .s002 form .inner-form .input-field.fouth-wrap .choices__list.choices__list--dropdown .choices__item--selectable {
  padding-right: 0;
}

 .s002 form .inner-form .input-field.third-wrap .choices__list--dropdown .choices__item--selectable.is-highlighted, .s002 form .inner-form .input-field.fouth-wrap .choices__list--dropdown .choices__item--selectable.is-highlighted {
  background: #f7f7f7;
  color: #00BFB2;
}

.s002 form .inner-form .input-field.third-wrap .choices__list--dropdown .choices__item, .s002 form .inner-form .input-field.fouth-wrap .choices__list--dropdown .choices__item {
  color: #565A5C;
  min-height: 24px;
  font-size: 16px;
}

.s002 form .inner-form .input-field.fifth-wrap {
  min-width: 190px;
  max-width: 190px;
  padding-left: 10px;
  border-right: 0;
}

.s002 form .inner-form .input-field.fifth-wrap .btn-search {
  height: 70px;
  width: 100%;
  background: #00bfb2;
  white-space: nowrap;
  /*border-radius: 5px;*/
  font-size: 20px;
  color: #f7f7f7;
  transition: all .2s ease-out, color .2s ease-out;
  border: 0;
  cursor: pointer;
  font-weight: 400;
  font-family: "Asap", sans-serif;
}

.s002 form .inner-form .input-field.fifth-wrap .btn-search:hover {
  background: #00bfb2;
}
