@import './stylesheets/variables.scss';

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  
  
}

body {
  font-family: 'Asap' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F7F7F7!important;
  padding-right: 10%;
  padding-left: 10%; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root{
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  background-color: $gray-nurse;
  padding-top: 90px;
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.col-md-12, .col-md-6 {
  button {
    width: 100%!important;
  }
}
